#mealplan {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: 60px auto;

	h1 {
		grid-column: span 5;
		margin: 0;
		margin-right: 5px;
		align-self: center;

		white-space: nowrap;
		text-overflow: clip;
		overflow: hidden;
	}

	.button {
		margin-left: auto;
		margin-right: 0px;

		align-self: center;

		background-color: var(--accent);
		color: var(--bright);
		padding: 5px;
		border-radius: 10px;
		width: 130px;
		text-align: center;

		filter: var(--shadow);

		transition: 0.5s filter, 0.1s margin;

		&:hover {
			filter: none;
			margin-top: 5px;
		}
	}

	.selectionarea {
		grid-column: span 6;
	}

	.plans {
		grid-column: span 6;

		display: grid;
		grid-template-columns: 0px repeat(7, 150px) 30px;
		grid-gap: 20px;

		padding: 20px 40px;

		overflow-x: scroll;

		height: 390px;

		.recepie {
			border-color: inherit;
			border-radius: var(--br);
			filter: var(--shadow);
			color: var(--bright);

			&.tall {
				height: 350px;
				width: 130px;

				justify-self: center;
				align-self: center;

				background-image: url(../../assets/boubbles.jpg);
				background-position: center;
				background-size: 500%;

				&.empty {
					display: inline-grid;
					text-align: center;

					transition: 0.3s box-shadow, 0.3s padding;

					h3 {
						margin: 0;

						font-size: 16px;
						font-weight: 400;

						align-self: end;

						transition: 0.3s font-size;
					}

					p {
						margin: -10px;

						font-size: 60px;
						font-weight: 700;
					}

					&:hover {
						box-shadow: inset 1000px 1000px 4px rgba(0, 0, 0, 0.25);
						padding: 10px;

						h3 {
							font-size: 18px;
						}
					}
				}

				&:not(.empty) {
					background-image: none;

					display: grid;
					grid-template-rows: 130px 5px auto 40px;
					grid-template-columns: 100%;
					grid-auto-flow: column;

					.rimage {

						width: 130px;
						height: 130px;
						aspect-ratio: 1/1;
	
						border-radius: var(--br);
	
						grid-column: span 2;
						overflow: hidden;
						
						position: relative;
						display: flex;
						justify-content: center;
						
						&.shadow::before {
							
							content: "";
							box-shadow: inset -15px -55px 20px rgba(0, 0, 0, 0.4);
							position: absolute;
							top: 0; bottom: 0; left: 0; right: 0;
							z-index: +1;
							
						}
						
						&:not(.shadow) {

							:not(.options) {

								filter: invert(100%);
								top: -5px;

							}
	
						}
	
						.options {

							background-image: url("../../assets/Cog.svg");
							display: block;
							width: 20px;
							height: 20px;
							z-index: +1;
							position: absolute;
							left: 105px;
							top: 10px;
							filter: invert(100%);

						}

						img {
							
							height: 100%;
							border-radius: var(--br);
							position: relative;
	
						}
	
					}

					h3 {

						position: relative;
						top: -2em;
						margin: 5px;
						z-index: +1;
						font-size: 16px;

					}

					p {
						margin: 5px;
						margin-top: 0;

						font-size: 14px;

						overflow-y: scroll;

						scrollbar-width: none;
					}

					.time {
						background-color: var(--bright);
						color: var(--gray);

						height: 20px;
						width: auto;
						border-radius: var(--br);

						text-align: center;

						font-weight: 700;
						padding: 10px;
					}
				}

				&.meat 		{ background-color: var(--meat); 		}
				&.dessert { background-color: var(--dessert); }
				&.salad 	{ background-color: var(--salad); 	}
				&.vegan 	{ background-color: var(--vegan); 	}
				&.fish 		{ background-color: var(--fish); 		}
				&.exotic 	{ background-color: var(--exotic); 	}
			}
		}
	}
}
