/** 
 * @Desc: Light(colured) area with types of different selection fields; buttons, tag-search adropdowns, etc.
 * @Occures: 0 or more, can be hidden or shown, even multiple at once.
 * @Behavior: Static layout with flex-warp for small content area, constrained to its current content area.
 * @Media: None
 */
.selectionarea {

	background-color: var(--light);
	border-radius: var(--br);
	filter: var(--shadow);
	padding: 20px;
	font-size: 14px;
	max-width: calc(100% - 40px);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	& > div:first-child {
		
		//width: 100%;
		//max-width: max-content;
		margin: 0px auto;

	}

	.field {

		p {

			margin-top: 15px;
			margin-bottom: 3px;

		}

		input[type=text] {
			
			height: 30px;
			border: none;
			padding: 5px 10px;
			border-radius: 20px;
			background-color: var(--accent);
			width: calc(100% - 20px);
			
		}

		input[type=button] {
			
			height: 30px;
			width: 80px;
			border: none;
			border-radius: 20px;
			background-color: var(--joyfull);
			color: hsl(0, 0%, 100%);

			&.danger {

				background-color: hsl(0, 100%, 32%);

			}

		}

		
		&.button {
			
			width: calc(100% - 40px);
			display: inline-grid;
			grid-template-columns: auto 80px;
			margin: 22.5px 20px;
			
			&.vertical {
	
				display: flex;
				width: auto;flex-direction: column;

				input[type=button] {

					margin: 10px auto;
					width: auto;
					padding: 5px 10px;

				}
	
			}

			&:first-of-type {

				margin-top: 55px;

			}

			span {

				display: flex;
				align-self: center;

			}

		}
		
	}

	.search.tags {

		width: min-content;

		.bar {
			
			width: 300px;
			height: 50px;
			display: block;
			background-color: var(--faded);
			border-radius: var(--br);

			&::before {

				content: "Search";
				width: calc(100% - 70px);
				height: calc(100% - 20px);
				display: inline-flex;
				align-items: center;
				padding: 10px;

			}

			& > span {

				content: "";
				background-image: url("../../assets/Lup.svg");
				width: 40px;
				height: 40px;
				float: right;
				display: block;
				margin: 5px;
				filter: contrast(50%) opacity(.75);

			}

		}

	}

	.list {

		display: flex;
		flex-wrap: wrap;

		.tag {

			display: flex;
			flex-flow: column;
			width: auto;
			max-width: max-content;
			height: 1em;
			padding: 5px 10px;
			margin: 5px;
			border-radius: var(--br);
			line-height: 0;
			text-align: center;
			justify-content: center;
			color: var(--gray);
			background-color: var(--bgcolor);

		}

	}

	.weekdays.selection {

		margin-bottom: 40px;
		width: auto;

		p { margin-bottom: 0; }

		.week {

			display: grid;
			grid-template-columns: repeat(7, 1fr);
			align-items: center;
			justify-items: center;
			overflow-x: auto;
			scrollbar-width: none;

			.day {

				margin: 3px;

				&.unavailable {

					border: 1px solid var(--faded);
					color: var(--faded);
					background-color: transparent;

				}

				&.available {

					border: 2px solid var(--joyfull);
					color: var(--joyfull);
					background-color: transparent;

				}

				&.selected {

					background-color: var(--joyfull);
					color: var(--bright);

				}

			}

			&:not(.dropdowns) {

				margin-top: 20px;

				.day {

					border-radius: 50%;
					width: 50px;
					height: 50px;
					text-align: center;
					font-size: 16px;
					line-height: 3.1em;

				}

			}

			&.dropdowns {

				.day {

					text-align: center;
					color: var(--joyfull);

					&.unavailable {

						color: var(--faded);
						border: 0;

					}

					.dropdownbox {

						border-radius: var(--br);
						border: 0;
						background-color: var(--joyfull);
						color: var(--bright);
						text-align: center;
						width: 65px;
						height: 30px;
						padding-left: calc(50% - 0.5em);
						letter-spacing: 20px;

						&:disabled {

							color: var(--faded);
							background-color: var(--faded);

						}

						&:hover {

							background-color: var(--bright);
							color: var(--gray);

						}

						option { width: 75px; }

					}

				}

			}

		}

	}

	.quantity {
    
    display: grid;
    width: 150px;
    height: 30px;
    border-radius: var(--br);
    background-color: var(--accent);
    grid-template-columns: 30px auto 30px;
    align-items: center;
    
    p {
      
      text-align: center;
      margin: 0;
      
      &:first-child,
      &:last-child {
        
        width: 35px;
        
      }
      
      span {
        
        margin-right: 5px;
        
      }
      
    }
    
  }
  
  .listing {
    
    display: flex;
    flex-direction: column;
    width: 500px;
    
    .item {
      
      width: 100%;
      height: 30px;
      border-radius: var(--br);
      background-color: var(--joyfull);
      color: var(--bright);
      display: inline-grid;
      grid-template-columns: 30px auto min-content;
      align-items: center;
      margin: 4px auto;
      
      & > * {
        
        margin: auto 10px;
        
      }
      
      p:last-of-type {
        
        span {
          
          margin: 0 5px;
          
        }
        
      }
      
      input[type=checkbox] {
        
        width: 1.3em;
        height: 1.3em;
        
      }
      
    }
    
  }

}
