# Global codeowners
# * @Andreasgdp @Toeffe3

# Owns scss files if it is the only thing changed
*.scss @BHelpful/Front-end-design

# Owns all in the app folder
/app/* @BHelpful/Reactjs

# Owns the cypress folder (this overrules the rule before as it comes later)
/app/cypress/* @BHelpful/Cypress
