@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
:root {
	/* Standard colors                         Inverted colors */
	--joyfull:  hsl(230,  80%,  70%);		--i-joyfull:	hsl( 50,  80%,  30%);
	--accent:   hsl(230,  50%,  75%);		--i-accent: 	hsl( 50,  50%,  25%);
	--faded:    hsl(230,  40%,  85%);		--i-faded: 		hsl( 50,  40%,  15%);
	--light:    hsl(230,  30%,  95%);		--i-light: 		hsl( 50,  30%,   5%);

	--bgcolor:  hsl(  0,   0%,  90%);		--i-bgcolor:	hsl(180,   0%,  10%);

	--bright:   hsl(  0,   0%, 100%);		--i-bright:   hsl(180,   0%,   0%);
	--gray:     hsl(  0,   0%,  33%);		--i-gray:     hsl(180,   0%,  77%);
	--dark:     hsl(  0,   0%,   0%);		--i-dark:     hsl(180,   0%, 100%);

	--meat:     hsl(  0,  53%,  70%);		--i-meat:     hsl(180,  53%,  30%);
	--dessert:  hsl( 50,  53%,  70%);		--i-dessert:  hsl(230,  53%,  30%);
	--salad:    hsl(100,  53%,  70%);		--i-salad:    hsl(280,  53%,  30%);
	--vegan:    hsl(150,  53%,  70%);		--i-vegan:    hsl(330,  53%,  30%);
	--fish:     hsl(200,  53%,  70%);		--i-fish:     hsl( 20,  53%,  30%);
	--exotic:   hsl(250,  53%,  70%);		--i-exotic:   hsl( 70,  53%,  30%);

	--br: 15px;
	--shadow: drop-shadow(4px 4px 4px hsla(0, 0%, 0%, 0.25));

	--text-size: 21px;

	--nav-min: 80px;
	--nav-max: 350px;
}

/** 
 * @Desc: Window content area
 * @Occures: Once
 * @Behavior: Splits content area into [Navbar] and page content
 * @Media(vw <= 1000px): Allows [Navbar] to float over content
 */
#app {

	position: fixed;
	display: grid;
	grid-template-columns: min-content auto;
	justify-items: center;
	align-items: center;
	overflow-x: hidden;
	height: 100vh;
	width: 100vw;
	background-color: var(--bgcolor);
	color: var(--gray);
	font-family: Montserrat;
	font-size: var(--text-size);
	font-weight: 400;
	overflow-y: scroll;

	.meat 		{ background-color: var(--meat); 		}
	.dessert 	{ background-color: var(--dessert); }
	.salad 		{ background-color: var(--salad); 	}
	.vegan 		{ background-color: var(--vegan); 	}
	.fish 		{ background-color: var(--fish); 		}
	.exotic 	{ background-color: var(--exotic); 	}

}

@media (max-width: 1000px) {

	#app {

		grid-template-columns: auto;
		
		& > div:last-child {
		
			margin-left: calc(var(--nav-min) + 80px);

		}
	}
	
}