#showcase {

  .selectionarea {

    &.trailer {
      
      display: flex;
      grid-gap: 20px;
      flex-wrap: wrap;
      height: max-content;
      
      > div:first-child {
        
        width: 100%;
        min-width: 300px;
        flex: 1 1 40%;

        span { display: block; }
        
        div { white-space: nowrap; }
        
        > :last-child {
            
          display: inline-grid;
          grid-template-columns: 110px auto;

          .rating.icon {

            position: relative;

            span {

              margin-right: 5px;
              position: absolute;
              display: block;
              height: 20px;
              width: 100px;
              mask-image: url("../../assets/Hearth.svg");
              mask-size: 20px;
              mask-repeat: repeat-x;
              background: red;
              background-size: 20px;
              background-repeat: repeat-x;

            }

            span:last-of-type {

              z-index: 0;
              opacity: .3;

            }

          }

        }
        
        
      }
      
      > div:last-child {
        
        filter: var(--shadow);
        border-radius: var(--br);
        background-color: var(--faded);
        margin: 20px;
        margin-block: auto;
        max-height: 250px;
        aspect-ratio: 16/9;
        width: auto;
        min-width: 300px;
        max-width: 100%;
        flex-grow: 5;
        
        .image {
        
          min-width: 200px;
          width: 100%;
          display: block;
          height: 100%;
          aspect-ratio: 16/9;
          background-image: url("../../assets/Duck.svg");
          background-repeat: no-repeat;
          background-position: center;
          filter: invert(1) var(--shadow);
        
        }
        
      }
      
    }

    &.guide {

      flex-wrap: wrap;
      display: flex;

      > div { 
        
        margin: 20px;
        min-width: 250px;
        
        .quantity { margin: auto; }
        > p { margin: 20px 0 5px 0; }
        &:first-child { flex: 1 2; }
        &:last-child { flex: 4 3 60%; }
      
      }

    }
  
  }

}