# Owns scss files if it is the only thing changed
*.scss @BHelpful/Front-end-design

# Owns all in the app folder except the cypress folder
/app/ @BHelpful/React.js
/app/cypress/

# Owns the cypress folder
/app/cypress/ @BHelpful/Cypress
