#settings {
  
  .selectionarea:nth-child(3) {
    
    grid-template-columns: repeat(4, 25%);
    align-items: center;
    align-content: center;
    justify-content: center;
    
    > div {

      width: 100%;

      &:first-child { width: 80%; }

      &:nth-child(3) {

        height: 100%;

        > .button {
        
          align-self: center;
          background-color: var(--joyfull);
          color: var(--bright);
          padding: 5px;
          border-radius: var(--br);
          width: 130px;
          text-align: center;
          filter: var(--shadow);
          margin: 10px auto;

        }

        > div:first-child {
        
          filter: var(--shadow);
          border-radius: var(--br);
          background-color: var(--faded);
          max-height: 250px;
          margin: 20px auto;
          aspect-ratio: 1/1;
          
          .image {
          
            width: 100%;
            display: block;
            height: 100%;
            aspect-ratio: 1/1;
            background-image: url("../../assets/Duck.svg");
            background-repeat: no-repeat;
            background-position: center;
            filter: invert(1) var(--shadow);
          
          }
          
        }

      }

    }

    > div:nth-child(2) {

      margin: auto;
      width: calc(100% - 20px);
      display: inline-grid;
      justify-items: center;
      
    }

    .button.field:not(.vertical) {

      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

      span {
        
        height: 2em;
        align-items: center;
        margin-right: 10px;
        margin: 5px auto;

        img {

          height: 100%;
          margin-right: 10px;
          padding: 5px;
          background-color: white;
          border-radius: var(--br);

        }

      }

      > input { margin: auto; }

    }

  }

  .selectionarea:last-child {

    > div {

      min-width: min-content;
      padding: 5px;

      justify-items: center;
      display: grid;

      .search {

        .bar {

          min-width: 220px;
          width: auto;

        }

      }

    }

  }

}

@media (max-width: 930px) {
  
  #settings {

    .selectionarea {

      grid-template-columns: repeat(1, minmax(200px, 1fr));
  
      > div { min-width: 100%; }
    
    }

    .selectionarea:last-child {

      > div { margin: 0 100%!important; }
  
    }
  
  }

}