#settings {

  .selectionarea:nth-child(3) {

    flex-wrap: wrap;

    align-items: center;
    align-content: center;
    
    > div {

      width: 33%;
      min-width: 200px;
      height: 100%;
      display: inline-grid;

    }

    > div:nth-child(2) {

      margin: auto;
      width: auto;
      
    }

    .button.field:not(.vertical) {

      span {
        
        height: 2em;
        align-items: center;
        margin-right: 10px;

        img {

          height: 100%;
          margin-right: 10px;
          padding: 5px;
          background-color: white;
          border-radius: var(--br);

        }

      }

    }

  }

  .selectionarea:last-child {

    > div {

      margin: 0 auto;
      min-width: min-content;
      padding: 5px;

      .search {

        .bar {

          min-width: 220px;
          width: auto;

        }

      }

    }

  }

}

@media (max-width: 830px) {
  
  #settings {

    .selectionarea {
  
      > div {
  
        min-width: 100%;
  
      }
    
    }

    .selectionarea:last-child {

      > div {
  
        margin: 0 100%!important;
  
      }
  
    }
  
  }

}